* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    width: 100vw;
    max-width: 60vw;
    margin: auto;
    background-color: rgb(196, 155, 235);
}

.section-1-wrapper,
.section-2-wrapper {
    display: flex;
    column-gap: 10px;
    margin-top: 50px;
}

h1 {
    color: palevioletred;
    margin-bottom: 10px;
}
.section-1-img, .section-2-img{
    border-radius: 5px 50px 5px 50px;
}

p {
    margin-top: 20px;
}
.validation,.otp{
    margin-top: 50px;
    background: rgb(140, 140, 202);
    color: red;
    padding: 30px;
    border-radius: 15px;
}
.check, #money, .generate,.otp-popup{
    height: 40px;
    border-radius: 5px;
    border: none;
    margin-top: 10px;
}
#money,.otp-popup{
    width: 300px;
    padding: 10px;
}
.check,.generate{
    width: 100px;
    transition: 0.3s ease-in-out;
}
.check:hover,.generate:hover{
    background: burlywood;
}
.otp-popup{
    background-color: white;
}
.empty{
    margin-top: 100px;
}